In [7]:
# Dependencies
import pandas as pd
from functools import reduce
import matplotlib as plt

In [8]:
# Store filepaths in variables.
honda_csv = "small_sample_honda_final.csv"
ford_csv = "small_sample_ford_final.csv"
gm_csv = "small_sample_GM_final.csv"
toyota_csv = "small_sample_toyota_final.csv"
oil_csv = "WTI_Crude_Oil.csv"

In [9]:
honda = pd.read_csv(honda_csv)
honda = honda.rename(columns={'Revenue':'Honda Revenue'})
honda.head()

FileNotFoundError: File b'small_sample_honda_final.csv' does not exist

In [30]:
gm = pd.read_csv(gm_csv, error_bad_lines=False)
gm = gm.rename(columns={'Revenue':'GM Revenue'})
gm.head()

    GM    New Date  GM Revenue
0  113  2008-12-31         0.0
1  117  2009-12-31     32327.0
2  114   2009-3-31     22431.0
3  115   2009-6-30     23047.0
4  116   2009-9-30     26784.0

In [31]:
toyota = pd.read_csv(toyota_csv)
toyota = toyota.rename(columns={'Revenue':'Toyota Revenue'})
toyota.head()

   Toyota    New Date  Toyota Revenue
0      34  1988-12-31       14157.604
1      33   1988-9-30       15115.341
2      38  1989-12-31       15118.925
3      35   1989-3-31       14168.874
4       0   1989-6-30       55822.168

In [32]:
ford = pd.read_csv(ford_csv)
ford = ford.rename(columns={'Revenue':'Ford Revenue'})
ford.head()

   Ford    New Date  Ford Revenue
0    32  1988-12-31       31586.4
1    36  1989-12-31       24144.9
2    33   1989-3-31       25869.0
3    34   1989-6-30       25889.7
4    35   1989-9-30       20242.3

In [34]:
WTI_crude_oil = pd.read_csv(oil_csv)
WTI_crude_oil = WTI_crude_oil.rename(columns={'Dates':'New Date', 'Last Price':'Crude Oil Price'})
WTI_crude_oil.head()

   WTI Crude Oil    New Date  Crude Oil Price
0              0  2018-10-31            64.86
1              1  2018-10-30            66.35
2              2  2018-10-29            66.69
3              3  2018-10-26            67.62
4              4  2018-10-25            66.97

In [36]:
# compile the list of dataframes want to merge
data_frames = [WTI_crude_oil, ford, honda, gm, toyota]

In [37]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['New Date'],
                                            how='inner'), data_frames).fillna('void')
df_merged.head()

,WTI Crude Oil,New Date,Crude Oil Price,Ford,Ford Revenue,Honda,Honda Revenue,GM,GM Revenue,Toyota,Toyota Revenue
0,714,2015-12-31,37.07,140,40251.0,141,29738.340,141,22990.0,141,60343.503
1,966,2014-12-31,53.27,136,35870.0,137,29314.526,137,39617.0,137,60088.994
2,1218,2013-12-31,98.42,132,37570.0,133,29198.618,133,40485.0,133,63648.212
3,1469,2012-12-31,91.82,128,35731.0,129,28950.681,129,39307.0,129,63476.790
4,1974,2010-12-31,91.38,120,32428.0,121,25323.671,121,36882.0,121,56074.485

In [38]:
# Reorganize and rename the data frame.
df_m_o = df_merged[['New Date', 'Crude Oil Price','Ford Revenue','Honda Revenue','Toyota Revenue','GM Revenue']]
df_m_o.head()

,New Date,Crude Oil Price,Ford Revenue,Honda Revenue,Toyota Revenue,GM Revenue
0,2015-12-31,37.07,40251.0,29738.340,60343.503,22990.0
1,2014-12-31,53.27,35870.0,29314.526,60088.994,39617.0
2,2013-12-31,98.42,37570.0,29198.618,63648.212,40485.0
3,2012-12-31,91.82,35731.0,28950.681,63476.790,39307.0
4,2010-12-31,91.38,32428.0,25323.671,56074.485,36882.0

In [39]:
pd.DataFrame.to_csv(df_m_o, 'merged_stock_prices.txt', sep=',', na_rep='.', index=False)

In [40]:
#fig, ax = plt.subplots()
fig, ax1 = plt.subplots()
#fig, ax2 = plt.subplots()
ax1.plot(revenue_df3_temp['New Date'], revenue_df3_temp['Ford Revenue'], label="Ford Revenue")
ax1.legend(loc="upper right")
ax1.plot(revenue_df3_temp['New Date'], revenue_df3_temp['GM Revenue'],label="GM Revenue")
ax1.legend(loc="upper right")
ax1.plot(revenue_df3_temp['New Date'], revenue_df3_temp['Toyota Revenue'],label="Toyota Revenue")
ax1.legend(loc="upper right")
ax1.plot(revenue_df3_temp['New Date'], revenue_df3_temp['Honda Revenue'],label="Honda Revenue")
ax1.legend(loc="upper right")


#toyota = ax.plot(revenue_df3_temp['Dates'], revenue_df3_temp['Toyota total revenue'])
#honda = ax.plot(revenue_df3_temp['Dates'], revenue_df3_temp['Honda total revenue'])
# rotate and align the tick labels so they look better
fig.autofmt_xdate()

# use a more precise date string for the x axis locations in the
# toolbar
#ax.fmt_xdata = revenue_df3_temp['Dates'].DateFormatter('%Y-%m-%d')

#ax.set_title('fig.autofmt_xdate fixes the labels')

AttributeError: module 'matplotlib' has no attribute 'line'