In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import api_key
from pprint import pprint

output_data_file = "WTI_Crude_Oil.cvs"

In [2]:
# Create URL to retrieve data
url = "http://www.quandl.com/api/v3/datasets/CHRIS"
commodity = "CME_CL1"

In [3]:
# Build partial query URL
query_url = f"{url}/{commodity}/data.json?api_key={api_key}"
print(query_url)

http://www.quandl.com/api/v3/datasets/CHRIS/CME_CL1/data.json?api_key=tfzm67sBTei7BJAaUdbH

In [4]:
# Make request and store response
response = requests.get(query_url)

# Print status code
print(response.status_code)

200

In [5]:
# Get commodity data
commodity_response = requests.get(query_url)
commodity_json = commodity_response.json()
response = requests.get(query_url).json()

date_list = [dates for dates in response["dataset_data"]["data"]]

In [6]:
# Create list to append data and loop through JSON dictionary 
dates_end = []
last_end = []
for dates in date_list:
    dates_end.append(dates[0])
    last_end.append(dates[4])
#print(dates_end)
#print(last_end)

In [7]:
# Create a data frame 
wti_dict = {
    "Dates": dates_end,
    "Last Price": last_end
}
wti_data = pd.DataFrame(wti_dict)
wti_data.head()

        Dates  Last Price
0  2018-10-31       64.86
1  2018-10-30       66.35
2  2018-10-29       66.69
3  2018-10-26       67.62
4  2018-10-25       66.97

In [8]:
# Calculate number of data points
wti_data.count()

Dates         8944
Last Price    8944
dtype: int64

In [9]:
test = wti_data.head(1500)

In [10]:
# Calculate number of data points
test.count()

Dates         1500
Last Price    1500
dtype: int64

In [11]:
# Output to csv file
wti_data.to_csv(output_data_file, index_label="WTI Crude Oil")